spring:
  application:
    name: user-service

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
    listener:
      simple:
        retry:
          enabled: true
          max-attempts: 3
          initial-interval: 2000

  datasource:
    url: jdbc:postgresql://localhost:5432/user_service_db
    username: autoally
    password: autoally123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    open-in-view: false

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    prometheus:
      enabled: true
    metrics:
      enabled: true
  prometheus:
    metrics:
      export:
        enabled: true

server:
  port: 8083

logging:
  level:
    com.autoally.userservice: DEBUG
    org.hibernate.SQL: DEBUG

keycloak:
  url: http://keycloak:8080
  realm: AutoAlly
  client-id: autoally-admin
  client-secret: FjO6C9NXlYwFIoC7BbRfQ6Bd1iav4Ffy
